.cart {
    margin-top: 150px;
    background-color: #ededed;
    height: 100vh;
   
    &__wrapper {
        @include flex (flex-start , flex-start);
        gap: 40px;
        padding : 1% 5%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        @include tablet {
            flex-direction: column;
        }
    }


    &__left {
        @include flex (center ,space-between);
        flex-direction : column;
        gap: 20px;
        flex-grow: 1;
        min-width: 500px;

        @include tablet {
            width: 100%;
         }

         &__list {
            width: 100%;
            overflow-y: scroll;
            max-height: 350px;

            &__item {
                border-bottom: 1px solid #ccc;
                margin-bottom: 10px;
            }
         }

        &__address {
            @include flex (center ,space-between);
            width: 100%;
            background-color: #bedeef;
            border-radius: 8px 8px 8px 0px;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            margin-top: 20px;
            font-size: 1.1rem;

            & > span {
                border: 1px solid #fff;
                background: #fff;
                color: #373d40;
                outline: none !important;
                box-shadow: none !important;
                transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
                border-radius: 8px 8px 8px 0;
                display: block;
                padding : 10px;
                cursor: pointer;
            }
         }

        &__endow {
           @include flex (left , space-between);
           flex-direction : column;
           gap: 20px;
           width: 100%;
           background-color: white;
           border-radius: 4px;

           &__wrapper {
               @include flex (left , left);
               flex-direction : column;
               padding : 20px;
               gap: 20px;
        
           }

           &__item {
               display: flex;
               align-items: center;
               gap: 10px;

               &__img1{
                margin-left: -7px;

                & > img {
                    width: 20px;
                    height: 20px;
                    border-radius: 10px;
                    margin-left: 10px;
                    background-color: #00ac6a;
                    padding: 4px;
               }
               
              

               }

              &__img2 {
                  width: 30px;
                  height: 29.63px;
              }
               
           }
        }

        &__trade {
            width: 100%;
            background-color: white;
            border-radius: 4px;

            &__wrapper {
                @include flex (center , space-between);
                padding: 20px;
            }

            &__security {
                @include flex (center , center);
                gap: 15px;

                &__img {
                    width: 27px;
                    height: 31.64px;
                }

                &__content {
                    display: flex;
                    flex-direction: column;
                }
            }

            &__method {
                @include flex (left , space-between);
                gap: 10px;
                

                &__item {
                    @include flex (center , center);
                    gap: 10px;
                    padding: 1.5px;
                    border: 1px solid #f4f4f4;
                    width: 33.3%;
                    height: 40px;
                    cursor: pointer;

                    &__img {
                        width : 20px;
                        height: 20px;
                    }

                    &__content {
                         
                        & > p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    &__right {
        @include flex (flex-start ,center);
        margin-top: 20px;
        flex-direction: column;
        gap: 15px;
        width: 30%;
        min-width: 300px;

        @include tablet {
            width: 100%;
         }

        & > button {
            width: 100%;
        }

        &__bill {
             @include flex (flex-start , flex-start);
             flex-direction: column;
             gap: 10px;
             background-color: white;
             width: 100%;
             padding: 20px;

            

            &__top {
                @include flex (flex-start , flex-start);
                flex-direction: column;
                gap : 10px;
                width: 100%;
                border-bottom: 1px solid rgb(192, 185, 185);
                padding-bottom: 5px;
                
                &__item {
                    width: 100%;
                    @include flex (center , space-between);

                    & > span {
                        font-weight: 700;
                    }
                }
            }

            &__bottom {
                width: 100%;
                padding : 10px 0px ;
                
                &__item {
                    width: 100%;
                    @include flex (center , space-between);
                }
            }
        }

        &__service {

            @include flex (center,center);
            gap: 10px;
            width: 100%;
           

            &__item {
                @include flex (center,center);
                flex-direction: column;
                width: 33.33%;
                background-color: white;
                padding: 10px;
                height : 150px;
                border-radius: 5px;

                &__img {
                    width: 40px;
                    height: 39.54px;
                }
            }
        }

        &__coupon {
            @include flex (center, space-between);
            width: 100%;
            background-color : white;
            padding: 10px;
            cursor: pointer;

            &__item {
                @include flex (center, space-between);

                &>i {
                    font-size: 2rem;
                }
            }

            &__img {
                width: 35px;
                height: 34.59px;
            }
        }

        &__product {

            max-height: 180px;
            overflow-y: scroll;

            @include tablet {
                width: 100%;
            }

            &__item {

                @include flex (center , flex-start);
                gap: 10px;
                border-bottom: 1px solid #ccc;

                &__img {
                    width: 100px;
                    height: 100px;
                }

                &__content {

                    &__top {

                        &__item {

                        }
                    }

                    &__bottom {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        &__item {
                     
                            & > span {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}