

.product__cart{
    max-width: 279.54px;
    cursor: pointer;

    &__top {
        position: relative;
        background-color: $product-bg ;
        overflow: hidden;
        min-height:  280px;

        &__main {
            background-color: $product-bg ;
        }
           
        &__main > img {
            mix-blend-mode: multiply;
            object-fit: contain;
        }

       &__sub {
        @include flex (center , center);
        position: absolute;
        z-index: 100;
        content: '';
        bottom: 0;
        background-color: white ;
        width: 100%;
        height: fit-content;
        transition : 0.6s ease;
        transform : translateY(182%);

        & > div {
              
            & > div {

                & > div {
                    width: 80px !important;
                }
            }

        }

          &__item {
               width: 70px !important;
               height : 70px !important;
               background-color: white;

               & > img {
                mix-blend-mode: multiply;
                object-fit: contain;
               }
               
          } 

       }

       &:hover &__sub {
        transform : translateY(0);
       }

       

    }

    &__bottom {

       min-height: 177px;
       
         
        &__wrapper {
            @include flex(left , center);
            flex-direction: column;
            gap: 10px;;
            margin-top: 10px;
            border: 1px solid #f6f6f6;
            padding : 20px;
            border-radius: 5px;
            height : 177px;

        }

        &__price {
             position: relative;
             background-color : $price-bg;
             padding: 8px 12px;
             border-left: none;
             border-radius: 3px;
             width: fit-content;
             color : $price-txt;
             font-size: 0.9rem;
             font-weight: bolder;
             

             &::after {
                background: #ffea29;
                width: 13px;
                height: 100%;
                position: absolute;
                transform: skew(10deg);
                content: '';
                right: -5px;
                top: 0px;
                z-index: 1;
             }
             

        }

        &__name{
            color : $price-name;
            font-size: 1rem;
            font-weight: 400;
        }

        &__rate{

            &__wrapper {
                @include flex (flex-start , space-around);
                width: 30%;
                border : 1px solid #f6f6f6;
                padding : 10px;
                color : $price-txt;
                font-size: 1rem;
                font-weight: bolder;

                &__img {
                    width: 16px;
                    height: 15.21px;
                }
            }
            
            & > img {
              
            }
        }
    }
}

// .swiper {
//     flex : unset;
// }